``` sql
CREATE TABLE students ( id INTEGER PRIMARY KEY, name TEXT, age INTEGER, grade TEXT, marks INTEGER);

INSERT INTO students VALUES (1 , 'Rahul', 10, 'A', 95);

INSERT INTO students VALUES (2 , 'Radhika', 11, 'B', 75);

INSERT INTO students VALUES (3 , 'Ramesh', 12, 'B', 78);
```

1) WHERE clause

- used to get specific information and/or filtering the data

``` sql
/* syntax of WHERE clause */

SELECT column_list FROM table_name WHERE condition

SELECT name, grade FROM students WHERE grade = 'B'
```

``` sql
SELECT marks, grade FROM students WHERE marks < 90
```

2) ORDER BY clause

- used in SELECT statements to order results in ascending or descending order (default - ascending)

``` sql
/* syntax of ORDER BY clause*/

SELECT column_list FROM table_name ORDER BY col_name ASC/DESC
```

This query will return table with 'marks' column in descending order.

``` sql
SELECT name, marks, grade FROM students ORDER BY marks DESC
```

If not mentioned, table is ordered in ascending order by default.

``` sql
SELECT * FROM students ORDER BY age
```

Ascending or descending can be specified separately for separate columns. Column with text data gets aranged in alphabetical order.

``` sql
SELECT name, marks FROM students ORDER BY name ASC, marks DESC
```

3) GROUP BY clause

- used along with aggregate/group function
- similar to what we studied in pandas in Data Science

Aggregate/group functions:
- COUNT, MAX, MIN, AVG, SUM, DISTINCT
- operates on group of rows and returns one value for entire column

-1- COUNT 
- returns number of rows in a table that satisfies the condition specified in WHERE condition
- If WHERE condition is not specified, it returns total number of rows in that table

``` sql
SELECT COUNT (grade) FROM students WHERE grade = 'B'
```

``` sql
SELECT COUNT (age) FROM students 
```

-2- DISTINCT 
- used to select unique rows

SELECT DISTINCT grade FROM students

-3- MIN 

SELECT MIN (age) FROM students

-4- MAX

SELECT MAX (age) FROM students

-5- AVG  

SELECT AVG (marks) FROM students -- returns average of values in MARKS column

-6- SUM

SELECT SUM (marks) FROM students -- returns total sum of the values in marks column

/* Use of GROUP BY with aggregate function */

SELECT SUM (marks) FROM students GROUP BY grade

SELECT MAX(marks) FROM students GROUP BY grade

SELECT grade, COUNT(*) FROM students GROUP BY grade

4) HAVING clause

- used to filter the data based on group/aggregate functions (similar to WHERE)
- group/aggregate functions cannot be used with WHERE clause but with HAVING clause

SELECT sum(marks) FROM students GROUP BY grade HAVING SUM(marks) > 100