# Integrity constraints 

- to ensure that data integrity is not affected 
- to guard against accidental damage to database

## 1- Primary key

- to define a column or combination of columns to uniquely identify each row in a table

For single column :

``` sql
CREATE TABLE table_name ( column_name datatype PRIMARY KEY ,...  ) ;
-- alternate way
CREATE TABLE table_name ( column_name datatype CONSTRAINT contraint_name PRIMARY KEY, ...) ;
```

For example :

``` sql
CREATE TABLE employee ( id INTEGER PRIMARY KEY, name TEXT, age INTEGER, location TEXT ) ;
-- alternate way
CREATE TABLE employee ( id INTEGER CONSTRAINT emp_id_pk PRIMARY KEY, name TEXT, age INTEGER, location TEXT ) ;

```

For multiple columns:

``` sql
CREATE TABLE table_name (col1 datatype_col1, col2 datatype_col2, col3datatype_col3, CONSTRAINT constraint_name PRIMARY KEY (col1, col2)))
```

For example :
``` sql
CREATE TABLE employee ( id INTEGER, name TEXT,  age INTEGER, location TEXT, CONSTRAINT emp_pk PRIMARY KEY (id, location))) 
```

## 2- NOT NULL contraint

- to ensure that there are not any null values in column/columns in a table

``` sql
CREATE TABLE table_name ( column_name datatype NOT NULL ,...  ) ;
-- alternate way
CREATE TABLE table_name ( column_name datatype CONSTRAINT contraint_name NOT NULL, ...) ;
```

For example :

``` sql
CREATE TABLE employee ( id INTEGER , name TEXT NOT NULL, age INTEGER, location TEXT ) ;
-- alternate way
CREATE TABLE employee ( id INTEGER , name TEXT CONSTRAINT emp_name_nn NOT NULL, age INTEGER,  location TEXT ) ;

```
NOT NULL can be specified to multiple columns too.

## 3- UNIQUE KEY

- to ensure that column/table has unique(distinct) values
- columns can have a NULL value but the values cannot be duplicated

``` sql
CREATE TABLE table_name ( column_name datatype UNIQUE ,...  ) ;
-- alternate way
CREATE TABLE table_name ( column_name datatype CONSTRAINT contraint_name UNIQUE, ...) ;
```

For example :

``` sql
CREATE TABLE employee ( id INTEGER , name TEXT UNIQUE, age INTEGER, location TEXT ) ;
-- alternate way
CREATE TABLE employee ( id INTEGER , name TEXT CONSTRAINT emp_name_uk UNIQUE, age INTEGER,  location TEXT ) ;

```
UNIQUE KEY can be specified to multiple columns too.

## 4- FOREIGN KEY or REFERENTIAL KEY

- to establish a relationship between multiple columns of same or different tables
- to identify any column referencing PRIMARY KEY in another table
- for a column to be defined as a foreign key, it should be defined as primary key in the table which it is referencing
- multiple columns can be defined as foreign key

Use of foreign key :
- In foreign key reference, a link is created between two tables when the column that hold the primary key for one table is referenced by column in other table

``` sql
/* First table */
CREATE TABLE sales_person(id INTEGER PRIMARY KEY,Sales_person_id INTEGER,
                          item_sold text,price INTEGER not null);
INSERT INTO sales_person VALUES(1, 111, 'Television', 50000) ;
INSERT INTO sales_person VALUES(2, 111, 'Laptop', 60000) ;
INSERT INTO sales_person VALUES(3, 222, 'Fridge', 30000) ;
INSERT INTO sales_person VALUES(4, 222, 'Laptop', 40000) ;

/* Second table */
CREATE TABLE sales_order(id INTEGER PRIMARY KEY,
                         Sales_person_id INTEGER, order_number text NOT NULL);
INSERT INTO sales_order VALUES(1, 111, 'HM123') ;
INSERT INTO sales_order VALUES(2, 111, 'MD456') ;
INSERT INTO sales_order VALUES(3, 222, 'AB789') ;
INSERT INTO sales_order VALUES(4, 222, 'KG482') ;
FOREIGN KEY Sales_person_id REFERENCES sales_person (Sales_person_id) ;
```

Sales_person_id column is present in both table. First table has Sales_person_id column as primary key. Second table has id column as primary key and Sales_person_id as foreign key.
Due to this foreign key relationship, values in Sales_person_id column cannot be changed or inserted into second table(where it is foreign key).

So value of a column in a table where it is foreign key can be changed only in a table where it is primary key.