In [ ]:
# auto increment

``` sql
/* First table */
CREATE TABLE owner(id INTEGER PRIMARY KEY, owner_name text, age INTEGER not null,
                          pet_id INTEGER);
INSERT INTO owner VALUES(1, 'Deviprasad', 57, 1) ;
INSERT INTO owner VALUES(2, 'Anuradha', 27, 3) ;
INSERT INTO owner VALUES(3, 'Raju', 39, 4) ;
INSERT INTO owner VALUES(4, 'Anjali', 45, 2) ;
INSERT INTO owner VALUES(5, 'Shyam', 37, NULL) ;

/* Second table */
CREATE TABLE pet(id INTEGER PRIMARY KEY, pet_name TEXT, age INTEGER, pet TEXT);
INSERT INTO pet VALUES(1, 'Sheru', 3, 'Dog') ;
INSERT INTO pet VALUES(2, 'Badal', 12, 'Horse') ;
INSERT INTO pet VALUES(3, 'Moti', 5, 'Cat') ;
INSERT INTO pet VALUES(4, 'Machli', 1, 'Fish') ;
INSERT INTO pet VALUES(5, 'Bhura', 7, 'Dog') ;
```

# SQL JOIN

- to relate information in different tables (two or more)

## 1- INNER JOIN

- matches rows from the first table and the second table which have the same key (as defined by the ON constraint) to create a result row with the combined columns from both tables. (**intersection** of both the tables )

``` sql
SELECT column1, column2, …
FROM table1
INNER JOIN table2 
    ON table1.common_col = table2.common_col
WHERE condition(s)
ORDER BY col_name ASC/DESC
```

For example :
``` sql  
SELECT owner_name, pet_name FROM owner INNER JOIN pet ON owner.pet_id = pet.id 
```

- LEFT INNER JOIN is same as LEFT JOIN and RIGHT INNER JOIN is same as RIGHT JOIN.
- LEFT INNER JOIN gives common rows from both tables along with all the rows from **left** table.
- RIGHT INNER JOIN gives common rows from both tables along with all the rows from **right** table.

``` sql
SELECT owner_name, pet_name FROM owner LEFT JOIN pet ON owner.pet_id = pet.id 
```

We are trying to find all the persons with pet.
But due to the use of LEFT JOIN in above output, last row from left table is also present even if it does not match the criteria i.e. 'Shyam' does not own any pet.

``` sql
SELECT owner_name, pet_name FROM owner RIGHT JOIN pet ON owner.pet_id = pet.id 
```

We are trying to find out all the pets with owners. But due to the use of RIGHT JOIN in above output, last row from right table is also present even if it does not match the criteria i.e. 'Bhura' pet does not belong to any owner.

## 1- OUTER JOIN

- FULL JOIN is same as OUTER JOIN
- matches rows from the first table and the second table which have the same key (as defined by the ON constraint) to create a result row with the all the columns from both tables. (**union** of both the tables )

``` sql
SELECT column1, column2, …
FROM table1
OUTER JOIN table2 
    ON table1.common_col = table2.common_col
WHERE condition(s)
ORDER BY col_name ASC/DESC
```

For example :
``` sql
SELECT owner_name, pet_name FROM owner OUTER JOIN pet ON owner.pet_id = pet.id 

-- alternate way

SELECT owner_name, pet_name FROM owner FULL JOIN pet ON owner.pet_id = pet.id 

```